<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title></title>
    <meta name="author" content="(>>>USER_NAME<<<)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    (>>>POINT<<<)
  </body>
</html><
